<h1>Welcome to SpaceMax! The friendliest dealership in the galaxy!</h1>

<!-- Get all vehicles. -->

<h3>You have <%= @credits %> credits left.</h3>
<% if @purchase %>
  <%= content_tag(:h3, "Your last purchase costs #{@cost} credits") %>
<% end %>

<h1>See Vehicle</h1>
<form action="<%= vehicle_path %>" method="get">
  <%= select_tag "vehicle", options_for_select(@vehicles, 'name') %>
  <input type="hidden" name="vehicles" value="<%= ActiveSupport::JSON.encode @vehicles %>">
  <input type="submit" value="Submit">
</form>

<h1>Purchase Vehicle</h1>
<form action="<%= purchase_path %>" method="post">
  <%= select_tag "purchase[name]", options_for_select(@vehicles, 'name') %>
  <input type="hidden" name="vehicles" value="<%= ActiveSupport::JSON.encode @vehicles %>">
  <input type="submit" value="Submit">
  <!-- Auth Token necessary for post requests. -->
  <input type="hidden" name="authenticity_token"  value="<%= form_authenticity_token %>">
</form>